bin
build
devel
logs

.catkin_tools/profiles
.catkin_tools/VERSION
.idea/

*.pyc
*.bak
*.swp
.directory

*.project
*.pydevproject
.vscode
.ycm_extra_conf.py*

src/.settings
src/pyssc32
src/DynamixelSDK
