<launch>
    <arg name="model" default="$(find drone_legs_ros)/urdf/quad_legs/quad_legs.urdf"/>
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find drone_legs_ros)/rviz/quad_legs.rviz" />
    
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
    <node name="initialize_rviz_leg_positions" pkg="drone_legs_ros" type="initialize_rviz_leg_positions.py"/>

    <!--<node name="wave_arm" pkg="drone_legs_ros" type="wave_arm.py"/>-->
</launch>
